<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.minesweeperexam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Minesweeperexam"
        tools:ignore="AllowBackup">


        <activity android:name=".GameStats" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".gameWon" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".MinesweeperGame" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".MakeCustomBoard" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".MainActivity" android:configChanges="orientation|screenSize|keyboardHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>